Darren Specifications/Darren — AI Phone Agent n8n Workflow.json
{
  "name": "Darren — AI Phone Agent v3",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        -128
      ],
      "id": "9f4acfdc-70b6-4bbb-a9a8-e5494bdb3cbf",
      "name": "Google Gemini Chat Model",
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        912,
        240
      ],
      "id": "6a98f018-e38c-4741-899b-aa321ef47c94",
      "name": "Get many messages in Gmail",
      "webhookId": "e935e2ea-d271-4361-99b9-82b6e4222a97",
      "credentials": {
        "gmailOAuth2": {
          "id": "8VwwtlLwoxROQcmW",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1040,
        240
      ],
      "id": "6a0672c8-85d8-4e47-9c59-d412e70f073c",
      "name": "Create a draft in Gmail",
      "webhookId": "b3d20fbd-2018-4105-991f-958f301daf11",
      "credentials": {
        "gmailOAuth2": {
          "id": "8VwwtlLwoxROQcmW",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput || $json.body.text || $json.body.transcript || \"Hello\" }}",
        "options": {
          "systemMessage": "=You are Darren, a dedicated AI phone agent and personal assistant. You have access to three tools:\n\n1. Search Gmail — search the owner's Gmail inbox using Gmail search syntax (e.g. 'from:albert', 'subject:Gibbons', 'after:2024/01/01'). Always use this when asked what someone said, sent, or emailed.\n\n2. Create Email Draft — compose and save a draft in Gmail for the owner to review before sending. Always save as draft, never send directly. Confirm with a preview of subject and opening lines.\n\n3. Web Research — search the internet for current prices, news, software tools, or any topic the owner requests. Cite your sources.\n\nBe concise, professional, and helpful. If you cannot find something, say so clearly.",
          "maxIterations": 6,
          "enableStreaming": false
        }
      },
      "id": "49cec732-3805-4105-9f2f-47753ccca0c7",
      "name": "Darren AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"api_key\": \"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\",\n  \"query\": \"=\",\n  \"max_results\": 5,\n  \"search_depth\": \"basic\"\n}",
        "sendBody": true,
        "specifyBody": "={{ \"json\" }}",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"api_key\": \"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\",\n  \"query\": \"={{ $fromAI('query', 'search query for web research', 'string') }}\",\n  \"max_results\": 5,\n  \"search_depth\": \"basic\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1168,
        240
      ],
      "id": "2f76827c-886f-422d-acd8-3b40b49cb647",
      "name": "Web Research (Tavily)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "output-field",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "31cbdc01-1faa-4490-a8c6-f5bf665936e9",
      "name": "Darren Reply1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        128
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "872acbb4-38cf-4ba1-add4-0daa5a06018c",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        128
      ],
      "id": "a2c65edd-5c0f-42cd-a8e7-24befee3659b",
      "name": "Webhook",
      "webhookId": "872acbb4-38cf-4ba1-add4-0daa5a06018c"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1696,
        128
      ],
      "id": "53e9e61a-b781-4fd7-93fb-43c6fbdbeb17",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ac9562d-d2b3-49f3-b73d-080aa7070a5e",
              "leftValue": "={{ $json.body.chatInput }}\n",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        320
      ],
      "id": "49cf1056-e086-4f9b-bba4-1ec0b38ab4dd",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        752,
        240
      ],
      "id": "f1436a88-6064-4703-ba8a-cd5309555e2d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "uKpZiERkNlonyVd3",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Darren AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Darren AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Research (Tavily)": {
      "ai_tool": [
        [
          {
            "node": "Darren AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Darren AI Agent1": {
      "main": [
        [
          {
            "node": "Darren Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Darren Reply1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Darren AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Darren AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4d7e9eac-c043-4e98-90ea-d03e9d858bf9",
  "meta": {
    "instanceId": "b957403aeebfe0dac427384dc5f147c849ab94fb2d3e1ac2da8291714e94c2f7"
  },
  "id": "9CS2Pkrq0szzMBfC",
  "tags": []
}